In [ ]:
try:
    import google.colab

    IN_COLAB = True
except:
    IN_COLAB = False

if IN_COLAB:
    from IPython.core.magic import register_cell_magic

    @register_cell_magic
    def printcell(line, cell):
        print(cell)

In [ ]:
import math
import pandas as pd
import random

In [ ]:
rando = random.SystemRandom()

In [ ]:

# crosses = 0
# tries = 10000000
# random.seed(7)

# for i in range(tries):
#   theta = rando.random() * math.pi *.5
#   distance = rando.random() * .5
#   #print(math.sin(theta))
#   #print(distance)
#   if math.sin(theta) * .5 >= distance:
#     crosses += 1

# print(crosses)
# print(2 * tries/crosses)



# crosses = 0
# # tries = 1000000


# for i in range(tries):
#   theta = random.random() * math.pi *.5
#   distance = random.random() * .5
#   #print(math.sin(theta))
#   #print(distance)
#   if math.sin(theta) * .5 >= distance:
#     crosses += 1

# print(crosses)
# print(2 * tries/crosses)

In [ ]:
pilist = []
crosses = 0
tries = 1000
random.seed(7)

while tries < 1000000:
  for i in range(tries):
    theta = random.random() * math.pi *.5
    distance = random.random() * .5
    #print(math.sin(theta))
    #print(distance)
    if math.sin(theta) * .5 >= distance:
      crosses += 1
  
  approxpi = 2 * tries/crosses
  # temppi = {'tries': tries ,'result': approxpi}
  # tempdict = [tries, approxpi]
  pilist.append([tries, approxpi])
  print(approxpi)
  print(crosses)
  # print(pidata)
  tries += 1000
  crosses = 0


pidata = pd.DataFrame(data = pilist,columns=['tries', 'result'] )



crosses = 0
# tries = 1000000m


for i in range(tries):
  theta = random.random() * math.pi *.5
  distance = random.random() * .5
  #print(math.sin(theta))
  #print(distance)
  if math.sin(theta) * .5 >= distance:
    crosses += 1

print(crosses)
print(2 * tries/crosses)

In [ ]:
rando = random.SystemRandom()
print(rando.random())

0.3140449229075203

In [ ]:
pidata.head()

   tries    result
0   1000  3.241491
1   2000  3.115265
2   3000  3.134796
3   4000  3.149606
4   5000  3.185728

In [ ]:
# 'test'`
pidata.head(15)
pidata.tail(14)

      tries    result
985  986000  3.144002
986  987000  3.142702
987  988000  3.142209
988  989000  3.142930
989  990000  3.137076
990  991000  3.145532
991  992000  3.140120
992  993000  3.141043
993  994000  3.139103
994  995000  3.140089
995  996000  3.141356
996  997000  3.140128
997  998000  3.143203
998  999000  3.137326

In [ ]:
pidata.describe()

               tries      result
count     999.000000  999.000000
mean   500000.000000    3.141505
std    288530.760925    0.006551
min      1000.000000    3.099465
25%    250500.000000    3.139067
50%    500000.000000    3.141636
75%    749500.000000    3.144033
max    999000.000000    3.241491

In [ ]:
pidata.head(
)

   tries    result
0   1000  3.241491
1   2000  3.115265
2   3000  3.134796
3   4000  3.149606
4   5000  3.185728